<main class="main">
    <div class="account-tip" style="position: absolute; margin: 10px;">
        Админ<br>
        Логин: admin@admin.com<br>
        Пароль: admadm
    </div>
    <form class="form">
        <span class="title form-item">Вход</span>

        <input type="email" class="input form-item" placeholder="Email" #userEmail required>
        <input type="password" class="input form-item" placeholder="Пароль" #userPassword required>
        
        <button type="button" class="button form-item" (click)="authService.login(userEmail.value, userPassword.value)">Войти</button>

        <span class="form-item">— Или —</span>

        <button type="button" class="button button-google form-item" (click)="authService.GoogleAuth()">
            Войти с помощью Google
        </button>
        <span сlass="form-item">Нет аккаунта ? <span class="redirect" routerLink="/register">Зарегистрироваться</span></span>
    </form>
</main>
